//单位列表
.unit{
  display: flex;
  width: 100%;
  height: 100%;
  &-right{
    flex:1;
    width:100%;
    // width: 84%;
    height: 100%;
    overflow-y: auto;
    .search-form{
      width:100%;
      background-color:$yxt-color-white-1;
      .my-form{
        padding:24px;
      }
    }
  .unit-right-btn{
    display: flex;
    background: $yxt-color-white-1;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    .action-btns-inline {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      }
    .special-btn-box{
      display: flex;
      .special-btn{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        border:1px solid  transparent;
        font-size: 10px;
        padding: 4px 10px;
        color: $yxt-color-text-3;
        i{
          font-size: 20px;
        }
      }
    }
   }
   .inline-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    padding:0 20px 20px 20px;
  }
  .row-possit-right {
    border-radius: 4px;
        border: none;
 .row-possit-right-box{
   .form-button{
     cursor: pointer;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding:6px 16px;
     font-size:12px;
   }
 }
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
}
  ::v-deep .table-box{
    height:auto;
  }
  .unit-table{
    padding:24px;
   .empty-weave{
      .cell{
        text-decoration:underline;
        cursor:pointer;
     }
    }
    .over-staff{
      .cell{
        text-decoration:underline;
        cursor:pointer;
     }
    }
  }
}
}

//单位、部门新增
.unitAdd{
  height:calc(100% - 50px)!important;
  .page-header-tip {
    // .mixin_absolute(88px);
    width: 100%;
    z-index: 998;
    position: inherit;
    top: 88px;
  }
  .add-form-box{
    overflow-y: auto;
    margin: 24px 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $yxt-color-white-1;
    height: calc(100% - 88px);
    &-tip {
      text-align: left;
      width: 100%;
      line-height: 50px;
      border-bottom: 1px solid $yxt-color-border-1;
      margin-bottom: 24px;
      font-size: $yxt-font-size-title-1;
      font-weight: bold;
      color: $yxt-color-text-1;
      clear:both;
      & > span {
        padding-left: 24px;
      }
    }
  }
  .ruleForm{
    width:100%;
    height: 100vh;
    .to-form-item{
      width:calc(50% - 48px);
      margin-bottom:24px;
      float:left;
      padding:0 24px;
      line-height: 32px;
      // height: 32px;
      .to-form-item__label{
       color:$yxt-color-dark-3;
      }
      .to-input__inner{
        line-height: 32px;
        height: 32px;
        color:$yxt-color-dark-3;
      }
      .to-select{
        width:100%;
      }
      .to-cascader{
        width:100%;
      }
    }
  }
  .postion-btn-box{
    width: 100%;
    // position: absolute;
    bottom: 0;
    right: 0px;
    height: 50px;
    background: $yxt-color-white-1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.03);
    .postion-btn{
      padding-right: 28px;
    }
  }
}
//部门新增
.dept{
  .add-form-box{
    height:auto;
    padding-bottom:96px;
    .ruleForm{
      max-width:595px;
      .to-form-item{
         width:100%;
         float:none;
         padding:0;
      }

    }
  }
}
//单位部门详情
.unitDetail{
  &-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:$yxt-color-text-1;
    padding: 0 10px;
    height: 50px;
    border-bottom:solid 1px $yxt-color-border-1;
    font-size:$yxt-font-size-title-1;
    p{
      margin: 10px 0;
      padding-left: 14px;
      font-weight:bold;
    }
    .clone-btn-box{
      cursor: pointer;
      i{
        font-size: 16px;
      }
    }
  }
  &-box{
    padding:12px 24px 12px 24px;
    width:calc(100% - 48px);
    overflow: hidden;
    border-bottom:solid 1px $yxt-color-border-1;
    &-title{
      font-size:$yxt-font-size-title-1;
      color:$yxt-color-text-1;
      font-weight:bolder;
      margin-bottom:5px!important;
      clear:both;
      width:100%;
    }
    .to-form-item{
      width:50%;
      float:left;
    }
    .unit-space{
      width:100%;
    }
    .to-form-item{
      margin-top:5px;
      margin-bottom:5px;
   
    }
    .to-form-item__label{
      text-align:left;
      line-height:24px;
      color:$yxt-color-dark-3;
    }
    .to-form-item__content{
      color:$yxt-color-text-1;
      line-height:24px;
      word-wrap:break-word;
    }
  }
  .no-border{
    border:none;
  }
  .ruleForm{
    overflow-x:hidden;
    overflow-y:auto;
    height: calc(100vh - 50px);
  } 
}
//部门详情
.deptDetail{
  &-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:$yxt-color-text-1;
    padding: 0 10px;
    height: 50px;
    border-bottom:solid 1px $yxt-color-border-1;
    font-size:$yxt-font-size-title-1;
    p{
      margin: 10px 0;
      padding-left: 14px;
      font-weight:bold;
    }
    .clone-btn-box{
      cursor: pointer;
      i{
        font-size: 16px;
      }
    }
  }
  .dept-center{
    padding: 0 24px;
    .dept-title{
      border-bottom:1px solid $yxt-color-border-1;
      margin-bottom: 10px; 
    }
    p{
      font-size: 16px;
      font-weight: bold;
      color: $yxt-color-text-1;
      margin: 10px 0;
    }
    ::v-deep .to-tabs{
      margin-left:24px;
      .to-tabs__header{
         margin:0;
      }
      .to-tab-pane{
        border:0 ;
      }
      //修改tab选中阴影
      .to-tabs__item.is-active{
        box-shadow:none;
      }
    }
    .table-top{
      line-height: 40px;
      font-size: 14px;
      td:nth-child(1){
        width:112px;
      }
    }
    .table-column{
      padding-left: 24px;
      line-height: 40px;
      font-size: 14px;
      width: 50%;
      display:inline-block;
      tr{
        td:nth-child(1){
        color:$yxt-color-dark-3;
        margin-right: 20px;
        }
      }
    }
    .RoleTree-box{
      margin: 24px;
    }
}
      .OrderDetails-btn-box {
        border-top: 1px solid $yxt-color-border-1;
        display: flex;
        justify-content: flex-end;
        padding-top: 8px;
        padding-right: 24px;
      }
}


